

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

     font-family: 'Eczar', serif;
    

}
.grid{
    display: grid;
}
.container{
  padding: 0 15px;
}

/*  ikona telefona na mobilnoj verziji*/
.mobile-phone-btn {
  display: block;
  color: #fff;
  background: #ab1b36;
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 59px;
  right: 26px;
  z-index: 999999999;
}
/* header*/
.header-container{
  background-color:#000;
}
.header-logo-img{
  width: 180px;
}
.main-header{
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  align-items: center;
}


  .main-nav{
    display: none;
}  
.main-nav {
  background-color: #000;
}
.hamburger{
  text-align: end;
}

.main-nav ul {
  grid-template-columns: 1fr;
  align-content: space-evenly;
}
.main-nav ul li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-nav ul li a{
    color: #fff;
    text-decoration: none;  
}
.main-nav ul li:hover a{
  color: #ab1b36;
}
.manu-hamburger {
  font-size: 1.4em;
  color: #fff;
}
.slide-text h1{
  /* color:#ab1b36; */
  position: absolute;
  text-align: center;
  top: 28%;
  left: 9%;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 1.7;
  width: 270px;
  color: #fff;
  text-shadow: 3px 3px #ab1b36;
}



  /* Slideshow container */
  .slide-container{
    background-color: rgba(171, 27, 54, 0.92);
  }
.slideshow {
    width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* images*/
  .slide img {
    width: 100%;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
/* SECTION B*/

 .section-b{
  /* background-color: #ab1b36; */
  background-color: rgba(171, 27, 54, 0.92);
  text-align: center;
  padding-top: 25px;
  text-align: justify;
}
.section-b svg{
  display: block;
} 
.main-b h2{
  font-size: 28px;
  padding-bottom: 15px;
}
.text-center {
  text-align: center;
}
.main-b ul li{
  font-size: 20px;
  padding-bottom: 13px;
  list-style: inside;
}
.main-b p{
  font-size: 18px;
}
/*SECTION C*/

.main-c{
  grid-template-rows: 1fr;
  row-gap: 35px;
  text-align: center;
}
.c-box img{
  width: 290px;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.6;
}
.c-box{
  position: relative;
}


.c-box h3{
  padding-bottom: 25px;
  font-size: 22px;
}
.c-button{
  position: absolute;
  z-index: 5;
  /* top: 50%;
  left: 15%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  #ab1b36;
  text-decoration: none;
  color: #fff;
  border: none;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
/*SECTION D*/
.parallax{
  display: flex;
  position: relative;
  justify-content: center;
  height: 600px;
}
.parallax::before{
  content: ' ';
  position: absolute;
  background-image: url(images/caffee.jpg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.section-d{
  padding-top:80px;
}
 .parallax-text{
  text-align: center;
  position: relative;
}
.parallax-text h4{
  text-align: justify;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  width: 250px;
  /* color:  #ab1b36; */
  color: #000;
} 
/* FOOOTER*/
footer{
  background-color: black;
}
.box-fu ul li{
 list-style: none;
}
.box-fu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.main-footer{
grid-template-columns: 1fr;
}
.logo-fu{
  text-align: center;
}
.logo-fu, .box-fu{
  padding-top: 25px;
  padding-bottom: 25px;
}
.tel-fu{
text-align: center;
padding-bottom: 20px;
  
}
.fu-phone {
  font-size: 1.4em;
  color: #fff;
  font-size: 28px;
}
.tel-fu p{
  display: inline-block;
}
.tel-fu a{
  color: #fff;
  font-size: 28px;
  text-decoration: none;
}
.fu-map{
  color: #fff;
}
.adres-fu{
  text-align: center;
  padding-bottom: 25px;
}
.adres-fu p{
  color: #fff;
  display: inline-block;
}

  /* *******************MEDIA QUERIES ***************/

  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  } */

  @media (min-width: 430px) and (max-width: 575px){


/* section A*/
.slide-text h1{
  width: auto;
  top: 15%;
}
  /*section C*/

    .c-box img {
      width: 360px;
    }
  }


  /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
 
  /* section a*/
.slide-text h1{
  width: auto;
  top: 16%;
  font-size:30px;

}
/*section C*/
.c-box img {
  width: 450px;
}

/*FOOTER*/
.main-footer{
  grid-template-columns: 1fr 1fr;
  }
  .contact-fu{
    padding-top: 25px;
  }
  .tel-fu, .adres-fu{
    text-align: end;
  }
 .logo-fu{
   text-align: start;
 }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .container{
    padding: 0;
    width: 720px;
    margin: 0 auto;
  }  
    /* section a*/
.slide-text h1{
  left: 25%;
  font-size:30px;

} 
  /* section B */
  .main-b h2{
    font-size: 25px;
  }
  .main-b p{
    font-size: 18px;
  }
  /***section C****/
  .main-c{
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }
  .c-box img {
    width: 300px;
  }

 /* SECTION D*/
.parallax-text{
  width: 100%;
}
.parallax-text h4{
  font-size: 35px;
  width: auto;
}

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

  .container{
    width: 960px;
    margin: 0 auto;
  }
  .mobile-phone-btn{
    display: none;
  }
 /*nav*/
 .main-nav{
  display: block !important;
}  
 .hamburger{
  display: none;
}
.main-header{
 grid-template-columns: 40% 60%;
 padding-top: 35px;
}
.main-nav ul {
 grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    margin: 0;
    padding: 0; 
 }
 .main-nav ul li {
     list-style: none;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 /* SLIDER* section B*/

.slide-text h1 {
  top: 7%;
  left: 8%;
  font-size: 61px;
  letter-spacing: 3px;
  line-height: 1.7;
}
 /*section-b*/
 .main-b p{
   font-size: 21px;
 }
 .main-b h2{
   font-size: 27px;
 }
  /***section C****/
  .c-box img {
    width: 450px;
  }
  .c-button{
    font-size: 29px;
  }





}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

  .container{
    width: 1140px;
    margin: 0 auto;
  }
  .main-nav ul li a{
    font-size: 19px;
  }


/* SLIDER*/

.slide-text h1 {
  top: 18%;
  left: 19%;
  font-size: 82px;
}
/*SECTION D*/
.parallax-text h4{
  font-size: 48px;
}


 }


 /* .deloviSticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */