
/*section a*/

.kafe-main{
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
}
.kafe-main img{
    width: 100%;
    height: auto;
}

/* section B*/
.b-main-kafe {
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.b-box-kafe-1 img{
    width: 100%;
    height: auto;
}
.b-box-kafe-2{
    grid-row-start: 1;
    text-align: center;
}
.b-box-kafe-2 h2{
    padding-bottom: 20px;
}
.b-box-kafe-2 p{
    font-size: 18px;
    text-align: justify;
}
/*section C*/
.section-c-kafe{
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-template-rows: repeat(6, 1fr);
}
.c-box-kafe img{
    width: 100%;
    height: auto;
}


/* *******************MEDIA QUERIES ***************/

  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  } */

  @media (min-width: 430px) and (max-width: 575px){

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /* section B */

    .b-box-kafe-2 h2{
        font-size: 30px;
    }
    .b-box-kafe-2 p{
        font-size: 20px;
    }
/*section C*/
.section-c-kafe{
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    grid-template-rows: none;
}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

/* section B*/
.b-main-kafe{
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.b-box-kafe-2{
    grid-column-start: 1;
}


}



/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
      /* section B */

      .b-box-kafe-2 h2{
        font-size: 37px;
    }
    .b-box-kafe-2 p{
        font-size: 22px;
    }
/*section C*/
.section-c-kafe{
    grid-template-columns: 1fr 1fr 1fr;
   
}
}