.video-kontakt{
    position: relative;
}
.video-kontakt video{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.video-text{
    position: absolute;
    top: 68%;
    left: 36%;
    transform: translate(-50px, -50px);
    color: #fff;
}
.video-text h2{
    font-size: 14px;
}
.video-tel i{
    font-size:20px;
}
.video-tel p{
    display: inline-block;
}
.video-tel a{
    color: #fff;
    text-decoration: none;
}

/* section B*/
.kontakt-b{
    padding-top: 20px;
    padding-bottom: 20px;
}
.kontakt-info{
    text-align: center;
}
.podaci-kontakt h1{
    font-size: 28px;
    padding-bottom: 25px;
}
.tel-k{
    padding-bottom: 15px;
}
.tel-k i{
    color: #000;
    font-size: 28px;
}
.tel-k p{
    display: inline-block;
}
.tel-k a{
    text-decoration: none;
    color: #000;
    font-size: 23px;
}
.adres-k{
    padding-bottom: 15px;
}
.adres-k i{
    color: #000;
    font-size: 22px;
}
.adres-k p{
    display: inline-block;
    color: #000;
    font-size: 22px;
}
.radno-vreme h3{
    font-size: 25px;
    padding-bottom: 25px;
}
/* section C */
.kontakt-c{
    grid-template-rows: auto auto;
    }
.img-kontakt img{
    width: 100%;
}
.img-kontakt{
    text-align: center;
}
.lokacija{
    text-align: center;
}
.lokacija iframe{
    width: 100%;
    height: 400px;
}
/* *******************MEDIA QUERIES ***************/

  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  } */

  @media (min-width: 430px) and (max-width: 575px){

  }

  /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .video-text h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .video-text {
        left: 28%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .video-text h2 {
        font-size: 25px;
    }
    .video-text {
        left: 17%;
    }
    .video-tel a {
        font-size: 21px;
        text-decoration: none;
    }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    .video-text{
        top: 50%;
        left: 50%;
        transform: translate(-50px, -50px);
        color: #fff;
    }
    .video-text h2 {
        font-size: 34px;
    }
    .video-text {
        left: 18%;
    }
    /* section B*/
    .kontakt-info{
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .kontakt-b{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .kontakt-c{
    grid-template-columns: 1fr 1fr;
    }
    .podaci-kontakt h1{
        font-size: 36px;
        padding-bottom: 25px;
    }
    .tel-k i{
        font-size: 28px;
    }
    .tel-k a{
        font-size: 30px;
    }
    .adres-k i{
       font-size: 28px;
    }
    .adres-k p{
        font-size: 30px;
    }
    .radno-vreme h3{
        font-size: 28px;
        padding-bottom: 25px;
    }
     /* section C */
     .img-kontakt img{
        width: 100%;
        height: 100%;
    }
}



/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .video-text h2 {
        font-size: 43px;
    }
    .video-tel a {
        font-size: 43px;
    }
    .video-tel i{
        font-size:43px;
    }
}