
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* section A*/

.pranje-main{
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
}
.pranje-main h1{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 7%;
    font-size: 35px;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 3px 3px #ab1b36;
}
.pranje-main img{
  width: 100%;
  height: auto;
}
/* section B */
.main-b-pranje{
  grid-template-rows: repeat(5,1fr);
  row-gap: 20px;
  text-align: -webkit-center;
  padding-top: 20px;
  padding-bottom: 20px;

}
.b-box-pranje{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ab1b36;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  width: 224px;
  box-shadow: 5px 10px 8px #888888;
  transition: all .2s ease-in-out;
}
.b-box-pranje:hover{
  transform: scale(1.1);
}
.pranje-icon{
  font-size: 53px;
  padding-top:20px;
}
.b-box-pranje h3{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

/* section c*/
.c-main-pranje{
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.c-main-pranje img{
  width: 100%;
  height: auto;
  box-shadow: 5px 10px 8px #888888;
}


/*section D*/
.main-d-pranje{
  grid-template-rows: 1fr;
  row-gap: 20px;
}
.d-box-pranje1 img{
  width: 100%;
  height: auto;
}
.d-box-pranje2 h4{
 font-size: 30px;
 text-align: center;
 padding-bottom: 20px;
}
.d-box-pranje2 p{
  text-align: justify;
}
/* *******************MEDIA QUERIES ***************/

  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  } */

  @media (min-width: 430px) and (max-width: 575px){

  }

  /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  /*section A*/
  .pranje-main h1{
    font-size: 50px;
  }
  /* section B */
   .main-b-pranje{
    grid-template-rows: none;
     grid-template-columns: repeat(2, 1fr);
   }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  /* section a*/
  .pranje-main h1{
    top: 18%;
    left: 32%;
    font-size: 42px;
  }
  /* section B */
  .main-b-pranje{
     grid-template-columns: repeat(3, 1fr);
     padding-top: 50px;
     padding-bottom: 50px;
   }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

  .pranje-main h1{
    top: 18%;
    left: 32%;
    font-size: 61px;
  }
  /* section b*/
  
  .main-b-pranje{
    padding-top: 70px;
  padding-bottom: 70px;
  row-gap: 70px;
  }
/* section c*/
.section-c-pranje{
  padding-bottom: 50px;
}
.c-main-pranje{
 grid-template-columns: 1fr 1fr;
 column-gap: 20px;
 grid-template-rows: none;
 row-gap: 0;
}
/* section D */
.main-d-pranje{
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  grid-template-rows: none;
}
.d-box-pranje2{
  padding-top: 25px;
}
.d-box-pranje2 p{
  font-size: 20px;
  padding-bottom: 20px;
}
}



/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .pranje-main h1{
    top: 15%;
    left: 30%;
    font-size: 82px;
  }
}