.slide-container{
    background-color: #fff;
}

/* section B*/
.b-main-tehnicki{
    row-gap: 30px;
}
.b-box-tehnicki-1 img{
    width: 100%;
    height: auto;
}
.b-box-tehnicki-2{
    grid-row-start: 1;
    text-align: center;
}
.b-box-tehnicki-2 h2{
    padding-bottom: 20px;
}
.b-box-tehnicki-2 h3{
    padding-bottom: 18px;
}
.b-box-tehnicki-2 p{
    font-size: 18px;
    text-align: justify;
}

/* section C*/

.c-box-tehnicki img{
    width: 100%;
    height: auto;
}



/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /* section B */

    .b-box-tehnicki-2 h2{
        font-size: 30px;
    }
    .b-box-tehnicki-2 p{
        font-size: 20px;
    }
/*section C*/
.c-main-tehnicki{
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    grid-template-rows: none;
}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

/* section B*/
.b-main-tehnicki{
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.b-box-tehnicki-2{
    grid-column-start: 1;
}


}



/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
      /* section B */

      .b-box-tehnicki-2 h2{
        font-size: 37px;
    }
    .b-box-tehnicki-2 p{
        font-size: 22px;
    }

}